@using ChrisHaniHospital.Areas.Identity.Data
@using ChrisHaniHospital.Utilities
@using Microsoft.AspNetCore.Identity
@using ChrisHaniHospital.Data
@inject SignInManager<ChrisHaniUser> SignInManager
@inject UserManager<ChrisHaniUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Prescribing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GROUP2.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="img/icons/icon-48x48.png" />

    <link href="~/SideBar/css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" asp-action="Index" asp-controller="Home">
                    <img src="~/images/Logos/logo.png" width="200" alt="logo" />
                </a>
                @if (User.IsInRole(Roles.Administrator))
                {
                    <ul class="sidebar-nav">
                        <li class="sidebar-header">
                            Pages
                        </li>

                        <li class="sidebar-item active">
                            <a class="sidebar-link" href="index.html">
                                <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="pages-profile.html">
                                <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="pages-sign-in.html">
                                <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="pages-sign-up.html">
                                <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="pages-blank.html">
                                <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
                            </a>
                        </li>

                        <li class="sidebar-header">
                            Tools & Components
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="ui-buttons.html">
                                <i class="align-middle" data-feather="square"></i> <span class="align-middle">Buttons</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="ui-forms.html">
                                <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Forms</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="ui-cards.html">
                                <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Cards</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="ui-typography.html">
                                <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Typography</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="icons-feather.html">
                                <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
                            </a>
                        </li>
                    </ul>
                }
                else if (User.IsInRole(Roles.Surgeon))
                {
                    <ul class="sidebar-nav">
                        <li class="sidebar-header">
                            Manage Records
                        </li>

                        <li class="sidebar-item active">
                            <a class="sidebar-link" href="index.html">
                                <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="HospitalDetails">
                                <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Hospital details</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="pages-sign-in.html">
                                <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="pages-sign-up.html">
                                <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="pages-blank.html">
                                <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
                            </a>
                        </li>

                        <li class="sidebar-header">
                            Address Management
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Surbubs">
                                <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Suburbs</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Cities">
                                <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">City</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Provinces">
                                <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Provices</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Countries">
                                <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Countries</span>
                            </a>
                        </li>
                    </ul>
                }
                else if (User.IsInRole(Roles.Nurse))
                {
                    <ul class="sidebar-nav">
                        <li class="sidebar-header">
                            Manage Records
                        </li>

                        <li class="sidebar-item active">
                            <a class="sidebar-link" href="index.html">
                                <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="HospitalDetails">
                                <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Hospital details</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="pages-sign-in.html">
                                <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="pages-sign-up.html">
                                <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="pages-blank.html">
                                <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
                            </a>
                        </li>

                        <li class="sidebar-header">
                            Address Management
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Surbubs">
                                <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Suburbs</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Cities">
                                <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">City</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Provinces">
                                <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Provices</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Countries">
                                <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Countries</span>
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">

                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                                <img src="~/SideBar/img/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark">@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Analytics</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="index.html"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
                                <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container">
                <main role="main" class="pb-3">
                    @* <div class="col-md-8 offset-md-2">

                    </div> *@
                    @RenderBody()

                </main>
            </div>
            @* <div class="border-top footer text-muted">
            <div class="container">
            &copy; 2024 - GROUP2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            </div> *@
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/SideBar/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
