@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>
    .Book {
        background-color: #3D6B7B;
        color: white;
    }
</style>
<section class="m-2">
    <div class="align-content-center justify-content-center">
        <div class="d-flex align-content-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-6">
                    <div class="card">
                        <div class="card-body">
                            <form id="account" method="post">
                                <h4 class="text-center m-1">Welcome to Bay Breeze Day Hospital</h4>
                                <p class="mt-2">Please Fill in Your details</p>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating m-3">
                                    <input asp-for="Input.FirstName" class="form-control #3D6B7B  form-control-sm" autocomplete="FirstName" aria-required="true" />
                                    <label asp-for="Input.FirstName" class="form-label"></label>
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-floating m-3">
                                    <input asp-for="Input.LastName" class="form-control #3D6B7B  form-control-sm" autocomplete="LastName" aria-required="true" />
                                    <label asp-for="Input.LastName" class="form-label"></label>
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div> 
                                <div class="form-floating m-3">
                                    <input asp-for="Input.IdentityNumber" class="form-control #3D6B7B  form-control-sm" autocomplete="IdentityNumber" aria-required="true" />
                                    <label asp-for="Input.IdentityNumber" class="form-label"></label>
                                    <span asp-validation-for="Input.IdentityNumber" class="text-danger"></span>
                                </div> 
                                <div class="form-floating m-3">
                                    <input asp-for="Input.Email" class="form-control #3D6B7B  form-control-sm" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email" class="form-label"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating m-3">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                    <label asp-for="Input.Password" class="form-label"></label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div> 
                                <div class="form-floating m-3">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                @*   <p class="col text-end">
                                <a class="text-decoration-none text-primary" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p> *@
                                <div>
                                  
                                </div>
                                <div class="text-center">
                                    <button id="login-submit" type="submit" class="w-75 btn btn-lg m-3 btn-primary ">Book</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
