@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<section class="m-2 mb-5">
    <div class="align-content-center justify-content-center">
        <div class="d-flex align-content-center justify-content-center w-100">
            @{
                if (@Model.DisplayConfirmAccountLink)
                {
                    <div class="text-center">
                        <h2>Thank you for booking with us!</h2>
                        <p>We're looking forward to seeing you and providing the care you deserve. If you have any questions or need to reschedule, please don't hesitate to contact us. See you soon!</p>
                    </div>
                }
                else
                {
                    <p>
                        Please check your email to confirm your account.
                    </p>
                }
            }
        </div>
    </div>
</section>

